
body {
	margin: 0;
	padding: 0;
}

.App {
	display: flex;
	flex-direction: row;
	background: #2F323A 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
}

.dashboard {
	display: block;
	padding: 31px 22px;
}