.nav-bar {
	display: flex;
	min-height: 100vh;
	width: 262px;
	background-color: #e2e0f8;
	/* justify-content: center; */
	flex-direction: column;
}

.profile-picture-img {
	height: 100%;
	width: auto;
	object-fit: cover;
	margin-left: -6px;
}

.profile-picture {
	height: 152px;
	width: 152px;
	display: flex;
	align-items: center;
	margin-top: 31px;
	margin-left: 55px;
	margin-right: 55px;
	margin-bottom: 31px;
	border-radius: 50%;
	border: 1px solid #707070;
	overflow: hidden;
}

